name: Convert .list to .mrs

on:
  push:
    paths:
      - 'file/**/*.list'   # 只在 file/ 目录下的 .list 文件变动时触发
      - '.github/workflows/convert.yml'
  workflow_dispatch:        # 支持手动触发

jobs:
  convert:
    runs-on: ubuntu-latest
    steps:
      #- name: Setup tmate session
      #  uses: mxschmitt/action-tmate@v3
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Mihomo
        run: |
          curl -L https://github.com/MetaCubeX/mihomo/releases/download/v1.19.18/mihomo-linux-amd64-v3-v1.19.18.gz -o mihomo.gz
          gzip -d mihomo.gz
          chmod +x mihomo
          sudo mv mihomo /usr/local/bin/mihomo

      - name: Convert .list files
        run: |
          for f in $(find file -name "*.list"); do
            base="${f%.list}"
            echo "Converting $f -> ${base}.mrs"
            mihomo convert-ruleset domain text  --input "$f" --output "${base}.mrs"
          done

      - name: Commit results
        run: |
          git config --global user.name "workflow-bot"
          git config --global user.email "bot@example.com"
          git add file/*.mrs
          git commit -m "Auto convert .list to .mrs" || echo "No changes to commit"
          git push